body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #191B1F;
}

.flogo {
    font-size: 1.6em;
    color: #fff;
}

.bg-nav {
    background-color: #1F1F1F;
}

.divBusca {
    background-color: #515151;
    border: solid 1px;
    border-radius: 5px;
    padding: 0;
    text-align: right;
}

#txtBusca {
    background-color: transparent;
    border: none;
    height: 32px;
    width: 100%;
    color: #fff;
    padding-left: 15px;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-txt {
    margin: 30px;
}

.card-film {
    border-radius: 10px 10px 0px 0px;
    padding: 0;
    overflow: hidden;
}

.card-film img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 39vh;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.card-film p {
    color: #fff;
}

.card-film:hover img {
    box-shadow: #ffffff3c 0px 1px 5px 0px;
    -moz-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    transform: scale(1.02);
}

.card-film:hover {
    border-bottom: 1px #fff solid;
    text-decoration: none;
}

.card-film:hover .text-card {
    background-color: #111c20;
    transition: 0.2s;

}

.text-card {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    background-color: #050E12;
    font-size: 13px;
    padding-top: 10px;
    height: 12vh;
}

.loading {
    background-color: rgba(49, 49, 49, 0.378);
    box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.261);
    text-align: center;
    color: rgba(255, 255, 255, 0.453);
    border-radius: 10px;
    margin-bottom: 10px;
}

.img-detail {
    width: 150px;
    height: 250px;
    position: relative;
    bottom: 100px;
    box-shadow: black 0px 0px 5px 1px;
}

.fdesc {
    color: #fff;
    font-size: 1.3em;
}

.fdesc-rt {
    color: rgb(221, 221, 221);
    font-size: 1.05em
}

.imdb {
    background-color: #FFB800;
    color: #000;
    padding: 0 4px 0 4px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}

.star-icon {
    width: 20px;
    padding: 0;
}

.banner_filme_detail {
    height: 350px;
    width: 100%;
    min-width: 100%;
    background-size: 100%
}

.visao_geral {
    position: relative;
    bottom: 80px;
}

.embacer {
    background-image: linear-gradient(to top, #191B1F, #191b1f60, rgba(237, 237, 233, 0.323));
}


.img-ator {
    background-color: #191B1F;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.img-ator img {
    position: absolute;
    top: 0px;
    width: 100%;
}

.nome-ator {
    color: #D49A06;
    font-size: 1.1em;
}

.font-ator {
    color: rgb(194, 194, 194);
    font-size: 15px;
    margin-top: -10px;
}


.bannerImgStyl {
    width: 100%;
    height: 600px;
}

.bannerTxt {
    color: #fff;
    position: relative;
    bottom: 50px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.487);
    border-bottom: 1px #fff solid;
}


.linha_filmsPop{
    position: relative;
    border-bottom: 1px solid #fff;
}


@media (max-width: 800px) {
    .bannerImgStyl {
        width: 100%;
        height: 200px
    }

    .bannerTxt h2 {
        font-size: 18px;
    }
    
}

